@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html,body,:root{
  height: 100%;
  
  }.lemon-regular {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
  }



 

  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */




